<html>
<head>
  <title>Message</title>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
  <h1>Message Roullete</h1>
  <% if flash[:error] %>
    <%= flash[:error] %><br>
  <% end %>
  <%= yield %>
</body>
</html>