<html>
<head>
  <title>Message</title>
  <link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
  <body>
    <h1>Message Roullete</h1>
    <% if flash[:error] %>
      <%= flash[:error] %><br>
    <% end %>
    <%= yield %>
  </body>
</html>