<form action="/messages/<%= message["id"] %>/patch" method="post">
  <input type="hidden" name="_method" value="patch"/>
  <ul>
    <li>
      <label for="message">Message</label>
      <input name="message" id="message" value="<%= message["message"] %>"/>
    </li>
    <input type="submit" value="Edit Message"/>
    </li>
  </ul>
</form>