body {
    text-align: center;
    background-color:#FF4700;
}

#message {
    width: 200px;
    height: 50px;
}

form {font-family: Courier;
        color: chartreuse}
h1 {color: black;
    font-family: fantasy;}