development:
  adapter: postgresql
  encoding: unicode
  database: message_roullete
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: message_roullete_test
  pool: 5
  username: gschool
  password:
